.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App ul {
  display: flex;
  justify-content: space-around;
}

.App li {
  list-style: none;
}

.main {
  flex-basis: 100%;
}